<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="msSqlConn" value="Data Source=localhost\sqlx01;Initial Catalog=cbexample;Persist Security Info=True;User ID=TstUserReadOnly;Password=247CodeReadOnly"/>
    <!-- <add key="mySqlConn" value="Server=localhost;Port=3366;Database=cbexample;Uid=TstUserReadOnly;Pwd=247CodeReadOnly;Encrypt=true"/>-->
    <add key="mySqlConn" value="server=localhost;user id=TstUserReadOnly;Pwd=247CodeReadOnly;port=3366;database=cbexample;persistsecurityinfo=True"/>
    <add key="appversion" value="ClassBuilder 16.3a"/>
    <add key="defaultDBTypeIndex" value="1"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>